<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    The title uses EJS to render additional info on the tab of the
    web browser.  This data ("title" so far) must be passed in when
    rendering the page that includes this header.
  -->
  <title>D8a Mines | <%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<nav>
	<h1>D8a Miners</h1>
	<ul>
		<li>Database</li>
		<li>About</li>
	</ul>
</nav>

<body>
