<%- include('../partials/header.ejs') %>

  <h1>Hello Database</h1>
  <form method="post">
	<table>
		<tr>
			<td><label for="name">Name: </label></td>
			<td><input id="name" name="name" type="text" required></td>
		</tr>
		<tr>
			<td><label for="age">Age: </label></td>
			<td><input id="age" name="age" type="number" required></td>
		</tr>
	</table>

    <button>Submit</button>
  </form>
  <br>

<%- include('../partials/footer.ejs') %>
