<%- include('../partials/header.ejs') %>

<h1>Entries</h1>

<table class="user-table">
    <tr>
        <th>Name</th>
        <th>Count</th>
    </tr>
	<% users.forEach(user => { %>
	<tr class="user">
		<td><%= user.name %></td>
		<td><%= user.count %></td>
	</tr>
	<% }) %>
</table>

<%- include('../partials/footer.ejs') %>
